.header {
    position: absolute;
    top: 0rem;
    left: 50%;   
    z-index: 100;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    
}
.header_nav{
   color: white;
   text-transform: uppercase;
   font-weight: 700;
   margin: 0 40px 0 0;
   

}

.header_nav > a {
    text-decoration: none;
    color: white;
    padding-right: 10px;

}
@media only screen and (min-width: 500px) {
    .header_nav{
        display: none;
    }
}
@media only screen and (min-width: 1024px) {
    .header_nav{
        display: inline-block;
        position: relative;
        top: 2px;
        z-index: 100;
        text-decoration: none;
    }
    
}
.header_middle{
    position: fixed;
    z-index: 100;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.header_logo{
    background: white;
    padding: 10px 10px 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    display: block;
    text-decoration: none;
    
}
.header_OO{
    background: lightgray;
    color: white;
    display: block;
    font-weight: 700;
    transition: .3s;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}
.header_middle>a{
    text-decoration: none;
    color: black;
}
.header_OO>a{
    text-decoration: none;
    color: white;
}
.header_nav_right{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0 40px;
    text-decoration: none;
    }

.mobile_nav{
    display: inline-block;
    position: relative;
    top: 2px;
    z-index: 100;
    text-decoration: none;
    font-size: 1.5rem;
}
.mobile_nav>a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
@media only screen and (min-width: 400px) {
.mobile_nav{
    display: block;
    margin-top: 20px;
  
}
}    
@media  only screen and (min-width: 1024px) {
    .mobile_nav{
        display: none;
    }
    
}