* {
    margin: 0;
}

html {
    background-color: white;
}
  
.home_pic{
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    position: relative;
    height: 80vh;
    z-index: 1;
}
footer {
    background-color: black;
    color: white;
    display: block;
}

.carry_out {
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.carry_out > a {
    text-decoration: none;
    color: white;
}

.footer_container {
    max-width: 700px;
    width: 95%;
    margin: 20px auto
}

.footer_col {
    margin: 0 auto;
    width: 80%;
    font-size: 1.1rem;
    line-height: 30px;
}

.footer_store_hours, .footer_store_location {
    margin-bottom: 20px;
}

.footer_copyright {
    text-align: center;
    padding: 35px 0;
    font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
    .carry_out {
        font-size: 1.4rem;
        padding: 20px;
    }

    .footer_col {
        display: flex;
        justify-content: space-between;
    }

    .footer_col:first-of-type {
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .carry_out {
        padding: 40px;
    }
}